<div>Main app component</div>
<!--<div id="gfx_holder"></div>-->
<div id="content">
  <div id="toolbar"></div>
  <div id="canvas" class="" style="width:3000px; height:3000px;"></div>
</div>

<div id="navigation" class="">
  <div data-shape="draw2d.shape.node.Start"   class="palette_node_element draw2d_droppable">Start</div>
  <div data-shape="draw2d.shape.node.End"     class="palette_node_element draw2d_droppable">End</div>
  <div data-shape="draw2d.shape.node.Between" class="palette_node_element draw2d_droppable">Between</div>
</div>

<router-outlet></router-outlet>
